/* APP */
.container {
  width: 80%;
  margin: 0 auto;
}
main {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left {
  width: 35%;
  padding: 0 30px;
}
.box {
  width: 100%;
  margin-bottom: 15px;
}
/* HEADER */
header {
  width: 100%;
  height: 250px;
  background-color: #fbceb1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.image-profile {
  width: 200px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}
.image-profile img {
  width: 100%;
  border-radius: 50%;
}
.name {
  /* font-family: "Noto Sans JP", sans-serif; */
  font-size: 1.8em;
  line-height: 2em;
}
.name .names {
  font-weight: 500;
}
/* Contact Box */
.contact-box {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
}
.contact-line {
  display: flex;
  align-items: center;
}
.icon {
  display: inline;
  width: 25px;
  margin-right: 10px;
}
.contact-box .contact-line {
  align-items: center;
  margin-bottom: 15px;
}
.contact-box .contact-line p {
  display: inline;
}
.contact-box .contact-line a {
  color: #000;
  text-decoration: none;
}
.contact-box .contact-line a:hover {
  text-decoration: underline;
}
/* Subtitle */
.line {
  display: block;
  /* width: 100%; */
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}
.paragraph {
  text-align: justify;
}
.subtitle-text {
  text-transform: uppercase;
  font-size: 20px;
}

/* Languages */
.two-columns {
  width: 80%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
}
.two-columns ul {
  width: 50%;
}
.one-column {
  width: 80%;
  margin-left: 15%;
}
/* Right */
.right {
  width: 65%;
  padding-right: 30px;
}
/* table */
table {
  width: 100%;
  border-collapse: collapse;
}
table tr td {
  border-bottom: 1px solid #ccc;
  padding: 6px;
}
table tr td:nth-child(1) {
  width: 20%;
}
.date-place {
  font-size: 12px;
}
.course {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  display: block;
  color: #000;
  text-decoration: none;
}
.course-link {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  display: block;
  color: #000;
  text-decoration: none;
}
.course-link:hover {
  cursor: pointer;
  color: rgb(65, 65, 65);
  text-decoration: underline;
}
.by {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
.inline {
  display: inline;
}
.instructor {
  font-family: "Noto Sans JP", sans-serif;
  color: #696969;
  font-size: 16px;
}
.link {
  color: #000;
  text-decoration: none;
}
/* responsive */
@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
  .name {
    font-size: 1.5em;
  }
  table {
    overflow-x: auto;
  }
}
@media screen and (max-width: 720px) {
  header {
    height: 200px;
  }
  .image-profile {
    width: 150px;
  }
  .name {
    font-size: 1em;
  }
  main {
    flex-direction: column;
  }
  .contact-box {
    width: 100%;
    margin: 0;
  }
  .left {
    width: 92%;
    padding: 0 4%;
  }
  .right {
    width: 92%;
    padding: 0 4%;
  }
  table {
    width: 100%;
  }
  table tr td:nth-child(2) {
    width: 80%;
  }
}
